/** @format */

header .links ul .bg-overlay,
header .links .btn_open_menu,
header .links ul .logo_menu,
header .links ul .btn_close_menu {
  display: none;
}
@media (max-width: 1000px) {
  header .top-nav .search {
    width: 420px;
  }
  .slider .container .side_bar {
    display: none;
  }
  .slider .container .slide-swp {
    width: 100%;
  }
  .features .container .feature_item {
    margin-bottom: 10px;
  }
  .newsletter .container {
    flex-direction: column;
    gap: 30px;
  }
  .newsletter .container .text {
    width: 100%;
  }
  .newsletter .newsletter_form {
    width: 70%;
  }
  footer .container {
    flex-wrap: wrap;
  }
  footer .container .row {
    width: 40%;
    margin-bottom: 20px;
  }
  footer .container .big_row {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  body {
    margin-top: 240px;
  }
  header .top-nav {
    flex-wrap: wrap;
  }
  header .top-nav .search {
    order: 3;
    width: 80%;
    margin: 10px auto 0;
  }
  header .links {
    padding: 20px 0;
  }
  header .links ul {
    padding-top: 50px;
    position: fixed;
    top: 0;
    right: -420px;
    bottom: 0;
    background: #fff;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    border-right: 1px solid var(--border-color);
    text-align: center;
    transition: 0.3s ease-in-out;
  }
  header .links ul.active {
    right: 0;
  }
  header .links ul .logo_menu {
    width: 140px;
    margin: 0 auto;
    display: block;
  }
  header .links ul .btn_close_menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: var(--main-color);
    display: block;
  }
  header .links .btn_open_menu {
    display: block;
    font-size: 25px;
  }
  header .links ul .bg-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #0000003d;
    width: calc(100vw - 400px);
    transition: 0.3s ease-in-out;
  }
  header .links ul.active .bg-overlay {
    left: 0;
  }
  .banner {
    margin: 0;
  }
  .slide {
    margin-bottom: 50px;
  }

  .slide_product .categ_img {
    display: none;
  }
  .slide_product .product_swip {
    width: 100%;
  }
  .newsletter .text h4 {
    font-size: 25px;
  }
  .newsletter .text p {
    font-size: 14px;
  }
  .newsletter .text h6 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  header .top-nav .search {
    width: 100%;
  }
  header .top-nav .search input {
    padding: 13px 130px 13px 20px;
  }
  header .top-nav .search button {
    width: 120px;
    font-size: 14px;
  }
  header .links ul {
    width: 100%;
    right: -100%;
  }
  .cart {
    width: 100%;
    right: -100%;
  }
  .product .name_product a {
    font-size: 13px;
  }
  .product {
    padding: 15px 10px;
  }
  .stars i {
    font-size: 14px;
  }
  .slide {
    margin-bottom: 30px;
  }
  .top_slide h2 {
    font-size: 16px;
  }
  .newsletter .newsletter_form {
    width: 100%;
  }
  .newsletter .text h4 {
    font-size: 23px;
  }
  .newsletter .text p {
    font-size: 13px;
  }
  .newsletter .text h6 {
    font-size: 16px;
  }
  .newsletter .newsletter_form button {
    width: 120px;
    font-size: 14px;
  }
  .newsletter .newsletter_form input {
    padding: 16px 140px 16px 20px;
  }
  footer .container .row {
    width: 100%;
  }
  footer .container .big_row {
    width: 100%;
  }
}

.all_produts .btn_filter {
  display: none;
}

/* item */
@media (max-width: 1000px) {
  .item_detail .container {
    flex-direction: column;
  }
  .item_detail .img_item {
    width: 50%;
    margin-bottom: 40px;
  }
  .item_detail .details_item {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .item_detail .img_item {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .item_detail .details_item h1 {
    font-size: 20px;
  }

  .item_detail .details_item .text_p {
    font-size: 14px;
  }
  .item_detail .details_item h4 {
    font-size: 18px;
  }
  .item_detail .details_item button {
    font-size: 16px;
  }
}

/* all products page */
@media (max-width: 1500px) {
  .all_produts .produts_dev .product {
    width: 31%;
  }
}
@media (max-width: 1000px) {
  .all_produts .container {
    position: relative;
    padding-top: 60px;
  }
  .all_produts .filter {
    position: absolute;
    right: 0;
    top: 60px;
    width: 40%;
    z-index: -100;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
  }
  .all_produts .filter.active {
    opacity: 1;
    z-index: 100;
  }
  .all_produts .produts_dev {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .all_produts .btn_filter {
    display: block;
    position: absolute;
    top: 0px;
    padding: 12px 30px;
    background: var(--main-color);
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
  }
}
@media (max-width: 650px) {
  .all_produts .produts_dev .product {
    width: 40%;
  }
  .top_page h1 {
    font-size: 22px;
  }
  .top_page p {
    font-size: 14px;
    width: 100%;
  }
  .top_page {
    padding-top: 10px;
  }
}
@media (max-width: 450px) {
  .all_produts .filter {
    width: 100%;
  }
}

/* checkout page*/
@media (max-width: 1000px) {
  .checkout .container {
    flex-direction: column-reverse;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .checkout form {
    width: 70%;
  }
  .checkout .ordersummary {
    width: 70%;
  }
}

@media (max-width: 650px) {
  .checkout form {
    width: 100%;
  }
  .checkout .ordersummary {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .checkout .ordersummary h1 {
    font-size: 20px;
  }
  .checkout .ordersummary .items .item_cart h4 {
    font-size: 14px;
  }
  .checkout .ordersummary .items .item_cart img {
    width: 100px;
  }
  .checkout .ordersummary .total p {
    font-size: 20px;
  }
  .checkout .ordersummary .total span {
    font-size: 22px;
  }
  .checkout .ordersummary .button_div button {
    font-size: 18px;
  }
  .checkout form h2 {
    font-size: 20px;
  }
}


@media (max-width:500px) {
  .form_container {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}